<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" version="3.0">
    <servlet>
        <servlet-name>CreationEleve</servlet-name>
        <servlet-class>servlets.CreationEleve</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreationDirigeant</servlet-name>
        <servlet-class>servlets.CreationDirigeant</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreationProfesseur</servlet-name>
        <servlet-class>servlets.CreationProfesseur</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>CreationEleve</servlet-name>
        <url-pattern>/creationEleve</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreationProfesseur</servlet-name>
        <url-pattern>/creationProfesseur</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreationDirigeant</servlet-name>
        <url-pattern>/creationDirigeant</url-pattern>
    </servlet-mapping>
</web-app>